@charset "utf-8";
 body{
    background-color: yellow;
 }

 h1{
    text-align: center;
    background-color: rgb(221, 78, 221);
    font-family: Arial, Helvetica, sans-serif;
 }

 .time{
    
 }

 .subtitulo {
    color: blue;
   font-family: sans-serif;
   background-color: black;
   }

   p{
    background-color: purple;
    border-style: groove;
    border-color: red;
   }

   .botao{
    color: red;
    background-color: aqua;
    width: 50px;
    height: 60px;
    
   }